@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300;1,400&display=swap');

@import '~antd/dist/antd.css';

body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.text-white {
  color: #FFFFFF;
}

.text-blue {
  color: #3993EE;
}

.text-success {
  color: #49C5A9E5;
  font-size: 18px;
}

.radius-4 {
  border-radius: 5px;
}



.w-90 {
  width: 95%;
}

.center {
  margin: 0 auto;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60px;

}

.mouse {
  cursor: pointer;
}


.btn-text {
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  padding: 8px;

  &:focus,
  &:hover {

    background-color: #ffffff27;
    border-radius: 4px;
    outline: none;


  }


}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}